
.marriage-label, .divorce-label {
    -fx-font-size: 13px;
    -fx-padding: 4 14 4 14;
    -fx-background-color: #fff6, #fff;
    -fx-background-radius: 8;
    -fx-border-color: #aaa;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(gaussian, #0002, 1, 1, 0, 1);
}

.relation-line {
    -fx-stroke: #19a7e8;
    -fx-stroke-width: 1.5px;
}