.on-line-label {
    -fx-font-size: 12px;
    -fx-background-color: white;
    -fx-padding: 2 4 2 4;
    -fx-background-radius: 3;
    -fx-border-color: #e6109b;
    -fx-border-radius: 3;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0, 0, 1);
}

.marriage-label {
    -fx-border-color: #e6109b;
}

.divorce-label {
    -fx-border-color: #2e2a2a;
}

.relation-line {
    -fx-stroke: #19a7e8;
    -fx-stroke-width: 1.5px;
}